---
http_interactions:
- request:
    method: get
    uri: https://pixabay.com/api/?image_type=photo&key=18385860-512f9c3ea7ace48b3d2fc1446&pretty=true&q=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-remaining:
      - '4995'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-reset:
      - '0.5138398128762257'
      allow:
      - POST, OPTIONS, GET
      content-language:
      - en
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "total":79,
            "totalHits":79,
            "hits":[
                {
                    "id":5354477,
                    "pageURL":"https://pixabay.com/photos/city-cinema-vintage-valencia-5354477/",
                    "type":"photo",
                    "tags":"city, cinema, vintage",
                    "previewURL":"https://cdn.pixabay.com/photo/2020/06/29/21/13/city-5354477_150.jpg",
                    "previewWidth":100,
                    "previewHeight":150,
                    "webformatURL":"https://pixabay.com/get/53e3d0474e55ab14f1dc846096293f7d1d3ad6e3534c704f752f7cd59f4ec55a_640.jpg",
                    "webformatWidth":427,
                    "webformatHeight":640,
                    "largeImageURL":"https://pixabay.com/get/53e3d0474e55ab14f6da8c7dda7936761637dbed55516c48732f7bd39645c658ba_1280.jpg",
                    "imageWidth":3297,
                    "imageHeight":4946,
                    "imageSize":4626920,
                    "views":5445,
                    "downloads":4360,
                    "favorites":14,
                    "likes":15,
                    "comments":5,
                    "user_id":17265152,
                    "user":"AveCalvar",
                    "userImageURL":"https://cdn.pixabay.com/user/2020/06/29/21-10-30-636_250x250.jpg"
                },
                {
                    "id":2617524,
                    "pageURL":"https://pixabay.com/photos/larimer-lodo-denver-colorado-2617524/",
                    "type":"photo",
                    "tags":"larimer, lodo, denver",
                    "previewURL":"https://cdn.pixabay.com/photo/2017/08/10/03/04/larimer-2617524_150.jpg",
                    "previewWidth":150,
                    "previewH[...]
