---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&location=dfskjdshfkdhfs%2Cxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Tue, 22 Sep 2020 15:06:17 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dfskjdshfkdhfs,xx"},"locations":[{"street":"[1464
        - 2599] Xx Rd, SKJDSHFKDHFS XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Emporia","adminArea5Type":"City","adminArea4":"Lyon","adminArea4Type":"County","adminArea3":"KS","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"66801","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr9998565","unknownInput":"","type":"s","latLng":{"lat":38.425429,"lng":-96.354672},"displayLatLng":{"lat":38.425429,"lng":-96.354672},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&type=map&size=225,160&locations=38.425429,-96.354672|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1651596212"},{"street":"[8400
        - 9299] County Road XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Westbend","adminArea5Type":"City","adminArea4":"Washington","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"53090[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHERMAP_SECRET_KEY&exclude=minutely&lat=38.425429&lon=-96.354672&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.43,"lon":-96.35,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600787177,"sunrise":1600776815,"sunset":1600820537,"temp":62.6,"feels_like":62.08,"pressure":1022,"humidity":93,"dew_point":60.55,"uvi":6.28,"clouds":90,"visibility":10000,"wind_speed":7.09,"wind_deg":190,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1600786800,"temp":62.6,"feels_like":62.08,"pressure":1022,"humidity":93,"dew_point":60.55,"clouds":90,"visibility":10000,"wind_speed":7.09,"wind_deg":190,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1600790400,"temp":67.12,"feels_like":67.15,"pressure":1021,"humidity":82,"dew_point":61.45,"clouds":90,"visibility":10000,"wind_speed":6.71,"wind_deg":185,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1600794000,"temp":72.39,"feels_like":71.44,"pressure":1020,"humidity":70,"dew_point":62.06,"clouds":92,"visibility":10000,"wind_speed":8.9,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds[...]
