---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&location=dfskjdshfkdhfs%2Cxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Sat, 19 Sep 2020 20:22:25 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dfskjdshfkdhfs,xx"},"locations":[{"street":"[1464
        - 2599] Xx Rd, SKJDSHFKDHFS XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Emporia","adminArea5Type":"City","adminArea4":"Lyon","adminArea4Type":"County","adminArea3":"KS","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"66801","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr9998565","unknownInput":"","type":"s","latLng":{"lat":38.425429,"lng":-96.354672},"displayLatLng":{"lat":38.425429,"lng":-96.354672},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&type=map&size=225,160&locations=38.425429,-96.354672|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1090923261"},{"street":"[8400
        - 9299] County Road XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Westbend","adminArea5Type":"City","adminArea4":"Washington","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"53090[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHERMAP_SECRET_KEY&exclude=minutely&lat=38.425429&lon=-96.354672
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.43,"lon":-96.35,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600546946,"sunrise":1600517459,"sunset":1600561626,"temp":297.15,"feels_like":294.36,"pressure":1022,"humidity":53,"dew_point":286.99,"uvi":6.7,"clouds":1,"visibility":10000,"wind_speed":5.7,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1600545600,"temp":297.15,"feels_like":293.92,"pressure":1022,"humidity":53,"dew_point":286.99,"clouds":1,"visibility":10000,"wind_speed":6.34,"wind_deg":159,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600549200,"temp":297.55,"feels_like":294.57,"pressure":1021,"humidity":52,"dew_point":287.07,"clouds":18,"visibility":10000,"wind_speed":6.02,"wind_deg":160,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1600552800,"temp":297.55,"feels_like":294.65,"pressure":1019,"humidity":53,"dew_point":287.36,"clouds":30,"visibility":10000,"wind_speed":6.04,"wind_deg":158,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clo[...]
