---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&location=dfskjdshfkdhfs%2Cxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Mon, 21 Sep 2020 16:51:26 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dfskjdshfkdhfs,xx"},"locations":[{"street":"[1464
        - 2599] Xx Rd, SKJDSHFKDHFS XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Emporia","adminArea5Type":"City","adminArea4":"Lyon","adminArea4Type":"County","adminArea3":"KS","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"66801","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr9998565","unknownInput":"","type":"s","latLng":{"lat":38.425429,"lng":-96.354672},"displayLatLng":{"lat":38.425429,"lng":-96.354672},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&type=map&size=225,160&locations=38.425429,-96.354672|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1422800980"},{"street":"[8400
        - 9299] County Road XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Westbend","adminArea5Type":"City","adminArea4":"Washington","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"53090"[...]
