---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&location=dfskjdshfkdhfs%2Cxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      geocodetransactioncount:
      - '1'
      last-modified:
      - Mon, 21 Sep 2020 19:59:56 GMT
      reversegeocodetransactioncount:
      - '0'
      status:
      - success
      transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dfskjdshfkdhfs,xx"},"locations":[{"street":"[1464
        - 2599] Xx Rd, SKJDSHFKDHFS XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Emporia","adminArea5Type":"City","adminArea4":"Lyon","adminArea4Type":"County","adminArea3":"KS","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"66801","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr9998565","unknownInput":"","type":"s","latLng":{"lat":38.425429,"lng":-96.354672},"displayLatLng":{"lat":38.425429,"lng":-96.354672},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_SECRET_KEY&type=map&size=225,160&locations=38.425429,-96.354672|marker-sm-50318A-1&scalebar=true&zoom=15&rand=660165606"},{"street":"[8400
        - 9299] County Road XX","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Westbend","adminArea5Type":"City","adminArea4":"Washington","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"53090",[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHERMAP_SECRET_KEY&exclude=minutely&lat=38.425429&lon=-96.354672&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.43,"lon":-96.35,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1600718396,"sunrise":1600690363,"sunset":1600734233,"temp":78.8,"feels_like":75.13,"pressure":1023,"humidity":50,"dew_point":58.6,"uvi":6.5,"clouds":20,"visibility":10000,"wind_speed":11.41,"wind_deg":170,"wind_gust":20.8,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1600714800,"temp":78.8,"feels_like":75.6,"pressure":1023,"humidity":50,"dew_point":58.6,"clouds":20,"visibility":10000,"wind_speed":10.58,"wind_deg":170,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1600718400,"temp":79.7,"feels_like":75.45,"pressure":1022,"humidity":47,"dew_point":57.7,"clouds":10,"visibility":10000,"wind_speed":11.88,"wind_deg":162,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1600722000,"temp":79.81,"feels_like":74.82,"pressure":1019,"humidity":46,"dew_point":57.2,"clouds":12,"visibility":10000,"wind_speed":12.86,"wind_deg":153,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02[...]
